ANTHROPIC_API_KEY=your_anthropic_key_here
SLACK_SALES_WEBHOOK=https://hooks.slack.com/services/xxx/yyy/zzz
SLACK_SUPPORT_WEBHOOK=https://hooks.slack.com/services/xxx/yyy/zzz
SLACK_PARTNERSHIP_WEBHOOK=https://hooks.slack.com/services/xxx/yyy/zzz
SLACK_SPAM_WEBHOOK=https://hooks.slack.com/services/xxx/yyy/zzz
